.bg {
  background-image: url("/assets/destination/background-destination-desktop.jpg");
  background-size: cover;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.container {
  width: 75%;
  margin-left: 12.5%;
  margin-top: 5rem;
  margin-bottom: 2rem;
  user-select: none;

  @media screen and (max-width: 1700px) {
    width: 100%;
    margin-left: 0;
  }
  @media screen and (max-width: 650px) {
    margin-top: 2rem;
  }
}

.main {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  @media screen and (max-width: 1400px) {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .image {
    width: clamp(250px, 21vw, 800px);
    display: flex;
    align-items: center;
  }
  .content {
    width: 50%;
    @media screen and (max-width: 1400px) {
      width: 100%;
    }
  }
}

.nav {
  width: 75%;
  margin-left: 12.5%;
  @media screen and (max-width: 700px) {
    width: 100%;
    margin-left: 0;
  }
  ul {
    width: 100%;
    display: flex;
    justify-content: center;
    li {
      border-radius: 2px;
      box-sizing: border-box;
      text-align: center;
      padding-bottom: 0.5rem;
      cursor: pointer;
      font-size: clamp(1rem, 4vw, 1.5rem);
      text-transform: uppercase;
      font-weight: 600;
      color: var(--light-blue);
      min-width: 70px;
    }
    li:not(:first-child):not(:last-child) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .active {
      border-bottom: 3px solid var(--light-blue);
    }
  }
}

.text {
  width: 100%;
  h1 {
    text-align: center;
    font-family: var(--bellefair);
    text-transform: uppercase;
    margin: 2rem 0;
    font-size: clamp(4rem, 20vw, 7rem);
    font-weight: 400;
  }
  & > p {
    width: 75%;
    margin-left: 12.5%;
    line-height: 177%;
    font-size: clamp(1.2rem, 4vw, 1.7rem);
    color: var(--light-blue);
    font-weight: 500;
  }
}

.line {
  width: 75%;
  margin: 2rem 0;
  margin-left: 12.5%;
  height: 1px;
  padding: 0;
  box-sizing: content-box;
  background-color: rgba(255, 255, 255, 0.3);
}

.footer {
  display: flex;
  width: 75%;
  margin-left: 12.5%;
  justify-content: flex-start;
  gap: 15%;

  .time,
  .distance {
    h3 {
      margin-bottom: 1.2rem;
      font-weight: 300;
      letter-spacing: 4.9px;
      font-size: clamp(1rem, 3vw, 1.5rem);
    }

    h2 {
      font-family: var(--bellefair);
      text-transform: uppercase;
      font-size: clamp(1rem, 5vw, 2rem);
    }
  }
}
