.bg {
  background-image: url("/assets/destination/background-destination-desktop.jpg");
  background-size: cover;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh; }

.container {
  width: 75%;
  margin-left: 12.5%;
  margin-top: 5rem;
  margin-bottom: 2rem;
  user-select: none; }
  @media screen and (max-width: 1700px) {
    .container {
      width: 100%;
      margin-left: 0; } }
  @media screen and (max-width: 650px) {
    .container {
      margin-top: 2rem; } }

.main {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around; }
  @media screen and (max-width: 1400px) {
    .main {
      flex-direction: column;
      align-items: center; }
      .main .image {
        margin-bottom: 3rem; } }
  .main .image {
    width: clamp(250px, 21vw, 800px);
    display: flex;
    align-items: center; }
  .main .content {
    width: 50%; }
    @media screen and (max-width: 1400px) {
      .main .content {
        width: 100%; } }

.nav {
  width: 75%;
  margin-left: 12.5%; }
  @media screen and (max-width: 700px) {
    .nav {
      width: 100%;
      margin-left: 0; } }
  .nav ul {
    width: 100%;
    display: flex;
    justify-content: center; }
    .nav ul li {
      border-radius: 2px;
      box-sizing: border-box;
      text-align: center;
      padding-bottom: 0.5rem;
      cursor: pointer;
      font-size: clamp(1rem, 4vw, 1.5rem);
      text-transform: uppercase;
      font-weight: 600;
      color: var(--light-blue);
      min-width: 70px; }
    .nav ul li:not(:first-child):not(:last-child) {
      padding-left: 1rem;
      padding-right: 1rem; }
    .nav ul .active {
      border-bottom: 3px solid var(--light-blue); }

.text {
  width: 100%; }
  .text h1 {
    text-align: center;
    font-family: var(--bellefair);
    text-transform: uppercase;
    margin: 2rem 0;
    font-size: clamp(4rem, 20vw, 7rem);
    font-weight: 400; }
  .text > p {
    width: 75%;
    margin-left: 12.5%;
    line-height: 177%;
    font-size: clamp(1.2rem, 4vw, 1.7rem);
    color: var(--light-blue);
    font-weight: 500; }

.line {
  width: 75%;
  margin: 2rem 0;
  margin-left: 12.5%;
  height: 2px;
  padding: 0;
  box-sizing: content-box;
  opacity: 0.7;
  background-color: var(--light-blue); }

.footer {
  display: flex;
  width: 75%;
  margin-left: 12.5%;
  justify-content: flex-start; }
  @media screen and (max-width: 600px) {
    .footer {
      flex-direction: column;
      text-align: center; } }
  .footer .time {
    margin-left: 15%; }
    @media screen and (max-width: 600px) {
      .footer .time {
        margin-left: 0;
        margin-top: 2rem; } }
  .footer .time h3,
  .footer .distance h3 {
    margin-bottom: 1.2rem;
    font-weight: 400;
    letter-spacing: 4.9px;
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    color: var(--light-blue); }
  .footer .time h2,
  .footer .distance h2 {
    font-family: var(--bellefair);
    text-transform: uppercase;
    font-size: clamp(1.2rem, 5vw, 2rem); }
