:root {
  --max-width: 1100px;
  --black: #0b0d17;
  --light-blue: #d0d6f9;
  --white: #ffffff;
  --xxl: 150px;
  --xl: 100px;
  --l: 56px;
  --m: 28px;
  --s: 16px;
  --xs: 14px; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

html {
  min-height: 100%; }

body {
  min-height: 100vh;
  position: relative; }

html,
body,
main {
  max-width: 100%;
  color: white; }

.subheading-2 {
  letter-spacing: 2.35px; }

h5 {
  letter-spacing: 4.75px; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: var(--bellefair);
  text-transform: uppercase;
  font-size: clamp(0.85rem, 2vw, 1.2rem);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding-top: 3rem;
  color: rgba(255, 255, 255, 0.4); }
