.navbar {
  margin-top: 2rem; }
  .navbar .navbar-container {
    display: flex;
    position: relative;
    width: 75vw;
    margin-left: 12.5vw;
    justify-content: space-between;
    align-items: center;
    gap: 1rem; }
  .navbar ul {
    position: relative;
    display: flex;
    gap: 1rem;
    padding: 2rem;
    border-radius: clamp(0.5rem, 0.5vw, 1rem);
    backdrop-filter: blur(9px);
    background-color: rgba(255, 255, 255, 0.1); }
  .navbar a {
    color: whitesmoke; }

.nav-item__name {
  margin-left: 1rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: 300; }

.nav-item__index {
  font-weight: 600; }
