.bg {
  background-image: url("/assets/home/background-home-desktop.jpg");
  background-size: cover;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1; }
  @media screen and (min-width: 1500px) {
    .bg {
      background-image: url("/assets/home/background-home-4k.jpg"); } }
  @media screen and (max-width: 1024px) {
    .bg {
      background-image: url("/assets/home/background-home-tablet.jpg"); } }
  @media screen and (max-width: 768px) {
    .bg {
      background-image: url("/assets/home/background-home-mobile.jpg"); } }

.container {
  user-select: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 9.5%;
  height: 100%; }
  @media screen and (min-width: 2000px) {
    .container {
      margin-top: 12.5%; } }
  @media screen and (max-width: 500px) {
    .container {
      margin-top: 1rem; } }
  @media screen and (max-width: 1400px) {
    .container {
      grid-template-columns: 1fr;
      text-align: center; }
      .container .header p {
        width: 100%; }
      .container .header h1,
      .container h5,
      .container p {
        margin: 1rem 0; } }

.header h5,
.header p {
  color: var(--light-blue); }

.header h1 {
  font-size: clamp(2rem, 15vw, 12rem);
  font-family: var(--bellefair);
  font-weight: 400; }

.header h5 {
  font-size: clamp(1.25rem, 5vw, 1.75rem);
  font-weight: 300; }

.header p {
  font-size: clamp(1.3rem, 5vw, 2rem);
  width: clamp(300px, 80%, 30vw);
  line-height: 137%; }

.btn-container {
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center; }

.button {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: whitesmoke;
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s; }
  @media screen and (max-width: 1400px) {
    .button {
      width: 200px;
      height: 200px; } }
  @media (min-height: 870px) {
    .button {
      margin-top: 7rem; } }
  @media screen and (max-width: 500px) {
    .button {
      margin-top: 0.5rem; } }

.button {
  background: #d1d1d0;
  background: linear-gradient(90deg, #d1d1d0 0%, #dddddb 55%, white 100%);
  border: 1px solid rgba(0, 0, 0, 0.23);
  transition: box-shadow 0.3s ease;
  box-shadow: 0px 0px 30px grey;
  animation: breathe 2s infinite ease; }
  @media screen and (max-width: 500px) {
    .button {
      animation: low-breathe 2s infinite ease; } }

@keyframes breathe {
  0% {
    box-shadow: 0px 0px 10px grey; }
  50% {
    box-shadow: 0px 0px 40px grey; }
  100% {
    box-shadow: 0px 0px 10px grey; } }

@keyframes deep-breathe {
  0% {
    box-shadow: 0px 0px 5px grey; }
  50% {
    box-shadow: 0px 0px 55px grey; }
  100% {
    box-shadow: 0px 0px 5px grey; } }

@keyframes low-breathe {
  0% {
    box-shadow: 0px 0px 10px grey; }
  50% {
    box-shadow: 0px 0px 25px grey; }
  100% {
    box-shadow: 0px 0px 10px grey; } }

@keyframes low-deep-breathe {
  0% {
    box-shadow: 0px 0px 5px grey; }
  50% {
    box-shadow: 0px 0px 0.5rem grey; }
  100% {
    box-shadow: 0px 0px 0.5rem grey; } }

.button:hover {
  box-shadow: 0 0 20px white;
  animation: breathe 1.2s infinite ease; }
  .button:hover h2 {
    color: rgba(0, 0, 0, 0.46); }

.button h2 {
  font-size: clamp(2rem, 5vw, 3rem);
  font-family: var(--bellefair);
  font-weight: 600;
  user-select: none;
  color: rgba(0, 0, 0, 0.66);
  transition: all 0.7s ease;
  margin: 0;
  padding: 0; }
  @media screen and (max-width: 1400px) {
    .button h2 {
      font-size: clamp(1.5rem, 5.5vw, 2.5rem); } }
